:root {
    /*Colors*/
    --black: rgb(34, 41, 47);
    --white: rgb(255, 255, 255);
    --grey: rgb(135, 149, 161);
    --5: rgba(34, 41, 47, 0.05);
    --10: rgba(34, 41, 47, 0.1);
    --20: rgba(34, 41, 47, 0.2);
    --30: rgba(34, 41, 47, 0.3);
    --40: rgba(34, 41, 47, 0.4);
    --50: rgba(34, 41, 47, 0.5);
    --60: rgba(34, 41, 47, 0.6);
    --70: rgba(34, 41, 47, 0.7);
    --80: rgba(34, 41, 47, 0.8);
    --90: rgba(34, 41, 47, 0.9);
    --primary: rgb(77, 192, 180);
    --primary-10: rgba(77, 192, 180, 0.1);
    --primary-30: rgba(77, 192, 180, 0.3);
    --primary-50: rgba(77, 192, 180, 0.5);
    --primary-70: rgba(77, 192, 180, 0.7);
    --primary-dark: rgb(0, 128, 128);
    --danger: rgb(231, 68, 68);
    --danger-dark: rgb(204, 31, 26);
    --info: rgb(52, 144, 220);
    --info-50: rgba(52, 144, 220, 0.5);
    --info-20: rgb(239, 248, 255);
    --info-dark: rgb(39, 121, 189);
    --success: rgb(33, 185, 119);
    --warning: rgb(255, 235, 59);
    --warning-30: rgba(255, 235, 59, 0.3);
    --warning: rgb(255, 235, 59);

    /*Pagination*/
    --pagination-disabled: var(--30);
    --pagination-link: var(--info);
    --pagination-link-hover: var(--info-dark);

    /*Navbar*/
    --navbar-fixer-positive: 4px;
    --navbar-fixer-negative: -4px;
}
