.nav-breadcrumbs {
    @apply w-full mb-8 rounded-lg rounded-b-none shadow;
    background-color: var(--breadcrumbs-bg);
}

    .nav-breadcrumbs > ul {
        @apply flex list-reset my-4 p-4;
    }

    .nav-breadcrumbs > ul > li {
        @apply mr-2 font-semibold;
        color: var(--breadcrumbs-current);
    }

    .nav-breadcrumbs > ul > li > a {
        @apply font-medium underline;
        color: var(--breadcrumbs-link);
    }

    .nav-breadcrumbs > ul > li > a:hover {
        color: var(--breadcrumbs-link-hover);
    }

    .nav-breadcrumbs > ul > li.separator:after {
        color: var(--breadcrumbs-separator);
        content: '/\00a0';
    }
