.btn-container {
    @apply w-full text-right p-6;
    border-top: 1px solid var(--10);
}

.btn {
    @apply font-bold py-3 px-4 rounded text-center;
}

.btn-lg {
    min-width: 120px;
}

.btn-primary {
    @apply bg-blue text-white;
}

.btn-primary:hover {
    @apply bg-blue-dark;
}

.btn-danger {
    @apply bg-red text-white;
}

.btn-danger:hover {
    @apply bg-red-dark;
}

.btn-secondary {
    @apply bg-blue-lightest text-blue-dark border border-blue-light;
}

.btn-secondary:hover {
    @apply bg-blue-light text-white;
}

.btn-default {
    @apply bg-grey-light text-grey-darker;
}

.btn-default:hover {
    @apply bg-grey text-grey-ligth border border-grey;
}

/*Dropdown*/
.btn-dropdown {
    @apply relative inline-block m-0;
}

.btn-dropdown:hover {
    @apply cursor-pointer;
}

.btn-dropdown-content {
    @apply z-10 absolute invisible opacity-0 w-64 mt-5;
    transition: var(--transition)
}

.btn-dropdown:hover .btn-dropdown-content {
    @apply visible z-40 opacity-100;
    transition-delay: var(--transition-delay)
}
