/* Base on https://codepen.io/andornagy/pen/xhiJH */

/* Navbar */
nav#navbar {
    @apply h-12 bg-teal;
}

nav#navbar ul {
    @apply p-0 m-0 list-reset relative;
}

nav#navbar li.brand {
    @apply inline-block bg-blue font-semibold;
    margin-right: -4px;
}

nav#navbar li.brand:hover {
    @apply bg-blue;
}

nav#navbar li.brand a:hover {
    @apply text-yellow;
}

nav#navbar li.brand .collapse {
    @apply hidden;
}

nav#navbar ul li {
    @apply inline-block bg-teal;
}

nav#navbar ul li:hover {
    @apply bg-teal-dark;
}

nav#navbar a {
    @apply block h-12 px-6 py-4 text-white text-base leading-tight no-underline;
}

/* Hide Dropdowns by Default */
nav#navbar ul ul {
    @apply hidden absolute w-48 h-12/* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav#navbar ul li:hover > ul {
    @apply block;
}

/* Fisrt Tier Dropdown */
nav#navbar ul ul li {
    @apply relative block;
}

/* Second, Third and more Tiers */
nav#navbar ul ul ul li {
    @apply relative;
    top: -3rem;
    left: 12rem;
}

/* Change this in order to change the Dropdown symbol */
li > a:after {content:  ' +';}
li > a:only-child:after { content: ''; }
