/* Base on https://codepen.io/andornagy/pen/xhiJH */

/* Navbar */
nav#navbar ul {
    @apply block shadow z-10;
}

nav#navbar ul li {
    @apply inline-block m-0 p-0;
    margin-left: var(--navbar-fixer-negative);
}

nav#navbar a {
    @apply flex h-16 m-0 px-6 py-6 text-base leading-none no-underline;
}

nav#navbar ul li.sidebar-parent,
nav#navbar ul li.sidebar-child {
    @apply font-medium;
}

/* Hide Dropdowns by Default */
nav#navbar ul ul {
    @apply z-10 absolute invisible shadow-md opacity-0;
    transition: var(--transition);
}

nav#navbar ul ul li {
    @apply shadow-md w-auto;
    border-top: 1px solid transparent;
    min-width: 150px;
    margin-left: var(--navbar-fixer-positve);
}

/* Display Dropdowns on Hover */
nav#navbar ul li:hover ul {
    @apply visible z-40 opacity-100;
    transition-delay: var(--transition-delay);
}

nav#navbar ul ul li {
    @apply relative block;
}

/* Fisrt Tier Dropdown */
nav#navbar ul ul li a {
    @apply h-12 py-4;
}

nav#navbar ul ul li:last-child {
    @apply rounded-b;
}

/* Second, Third and more Tiers */
nav#navbar ul ul ul li {
    @apply relative;
    top: -3rem;
    left: 12rem;
}
