/*Pagination*/
.pagination {
    @apply flex justify-between items-center w-auto;
}

    .pagination li.page-item {
        @apply block px-5 py-4 text-xl;
        color: var(--pagination-disabled);
    }

        .pagination li.page-item a.page-link {
            color: var(--pagination-link);
        }

        .pagination li.page-item a.page-link:hover {
            color: var(--pagination-link-hover);
        }
