/*Simple pagination*/
#simple-pagination > nav > ul.pagination {
    @apply flex justify-between items-center w-auto;
}

    #simple-pagination > nav > ul.pagination li.page-item {
        @apply block m-4 px-4 py-3 text-lg font-bold;
        color: var(--pagination-disabled);
    }

        #simple-pagination > nav > ul.pagination li.page-item a.page-link {
            color: var(--pagination-link);
        }

        #simple-pagination > nav > ul.pagination li.page-item a.page-link:hover {
            color: var(--pagination-link-hover);
        }

/*Link pagination*/
#link-pagination > nav >ul.pagination {
    @apply flex justify-center w-auto;
}

    #link-pagination > nav > ul.pagination li.page-item {
        @apply block m-4 px-4 py-3 text-lg font-bold;
        color: var(--pagination-disabled);
    }

        #link-pagination > nav > ul.pagination li.page-item a.page-link {
            color: var(--pagination-link);
        }

        #link-pagination > nav > ul.pagination li.page-item a.page-link:hover {
            color: var(--pagination-link-hover);
        }

        #link-pagination > nav > ul.pagination li.page-item.active {
            @apply bg-blue-500 text-white shadow rounded-lg;
        }
