.table {
    @apply w-full text-sm text-left mb-16 shadow-md;
    background-color: var(--table-bg);
    color: var(--table-color);
}

    .table thead {
        @apply uppercase;
    }

        .table thead a {
            color: var(--table-head-link);
        }

        .table thead tr {
            @apply border-t border-b border-solid border-grey-light text-white;
            background-color: var(--table-head-bg);
        }

            .table tbody tr:hover {
                background-color: var(--table-body-tr-hover);
            }

            .table thead tr th {
                @apply py-4 px-6;
            }

            .table tbody tr td {
                @apply py-4 px-6 border-b border-solid;
                border-color: var(--10);
            }

    .table tfoot {
        background-color: var(--table-footer-bg);
    }
