/* https://codepen.io/mikestreety/pen/yVNNNm */
.tabs {

}

.tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs ul li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
}

.tabs li a {
    padding: 0 10px;
}

.tabs li a.active {
    @apply bg-red text-white;
}

.tabs .content {
    border: 1px solid;
}
